# EDA for B3 Stocks Extracted 

**This is an ongoing effort. So, it's imcomplete**

In [1]:
import pandas as pd
from pathlib import Path

In [3]:
df = pd.read_csv(Path("../../DATA/assets.csv"))

In [4]:
df.head()

,Setor,Subsetor,Codigo,Ticker,Aplicações Financeiras,Dinheiro em Caixa,Disponibilidades,Data,DY,Dividendos e JCP,...,Margem EBIT,Margem EBITDA,P/EBIT,P/EBITDA,P/L,PSR,Receita Líquida,Resultado Bruto,Nome Comercial,Razão Social
0,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis",RRRP,RRRP3,NaN,NaN,NaN,2020.0,0.0000,NaN,...,0.0000,NaN,0.00,NaN,0.00,0.00,NaN,NaN,NaN,NaN
1,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis",CSAN,CSAN3,NaN,388726.0,388726.0,2009.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COSAN SA INDUSTRIA E COMERCIO,COSAN SA INDUSTRIA E COMERCIO
2,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis",CSAN,CSAN3,NaN,285925.0,285925.0,2010.0,0.0748,193095000.0,...,0.3150,0.3527,13.81,12.34,10.67,4.35,2583094.0,494759.0,COSAN SA INDUSTRIA E COMERCIO,COSAN SA INDUSTRIA E COMERCIO
3,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis",CSAN,CSAN3,NaN,372318.0,372318.0,2011.0,0.1145,240837000.0,...,0.3016,0.3392,17.33,15.40,14.25,5.23,2104078.0,604613.0,COSAN SA INDUSTRIA E COMERCIO,COSAN SA INDUSTRIA E COMERCIO
4,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis",CSAN,CSAN3,NaN,256091.0,256091.0,2013.0,NaN,297080000.0,...,NaN,NaN,27.06,26.97,68.83,NaN,NaN,NaN,COSAN SA INDUSTRIA E COMERCIO,COSAN SA INDUSTRIA E COMERCIO

In [7]:
sum(df['Ticker'] == "IVVB11")

0

In [8]:
sum(df['Ticker'] == "HGLG11")

0

It's does not have data on REITs and ETFs. Gonna do some extracting first... Be right back