In [1]:
import pandas as pd 
import b3
import yfinance as yf
from yahooquery import Ticker

In [2]:
b3 = b3.B3()

In [10]:
def get_ticker_info(ticker):
    info = yf.Ticker(ticker).info
    return info['sector'], info['industry'], info['shortName'], info['longName'],

In [11]:
get_ticker_info("WEGE3.SA")

TypeError: unhashable type: 'list'

In [7]:
a = yf.Ticker("ITSA4.SA")

In [9]:
a.info

{'zip': '01310-200',
 'sector': 'Financial Services',
 'fullTimeEmployees': 128000,
 'longBusinessSummary': 'ItaÃºsa S.A., through its subsidiaries, operates in the financial and industrial markets in Brazil and internationally. The company offers credit and other financial services to individuals and corporates. It also manufactures and sells footwear, apparel, and textile items and related components, as well as leather, resin and natural or artificial rubber, and sports articles. In addition, the company offers bathroom porcelain and metals, showers, and electric taps; ceramic tiles, including floor and wall coatings, under the Deca, Ceusa, Cecrisa, Hydra, and Portinari brands; and pine and eucalyptus wood panels primarily used in the manufacture of medium, high, and super-density fiberboards, as well as chipboards under the Durafloor brand. Further, it engages in the transportation of gas through gas pipelines to distribution companies. ItaÃºsa S.A. was founded in 1966 and is headquartered in SÃ£o Paulo, Brazil.',
 'city': 'SÃ£o Paulo',
 'state': 'SP',
 'country': 'Brazil',
 'companyOfficers': [],
 'website': 'http://www.itausa.com.br',
 'maxAge': 1,
 'address1': 'Av. Paulista, 1938',
 'industry': 'Banks—Regional',
 'address2': '5Âº andar Bela Vista',
 'ebitdaMargins': 0.22294001,
 'profitMargins': 1.27212,
 'grossMargins': 0.31899,
 'operatingCashflow': 1636999936,
 'revenueGrowth': 0.522,
 'operatingMargins': 0.12689,
 'ebitda': 1446000000,
 'targetLowPrice': 11.1,
 'recommendationKey': 'none',
 'grossProfits': 1852000000,
 'freeCashflow': 1105500032,
 'targetMedianPrice': 14.15,
 'currentPrice': 11.08,
 'earningsGrowth': 1.181,
 'currentRatio': 2.282,
 'returnOnAssets': 0.0074699996,
 'numberOfAnalystOpinions': 10,
 'targetMeanPrice': 13.75,
 'debtToEquity': 9.733,
 'returnOnEquity': 0.14744,
 'targetHighPrice': 16.2,
 'totalCash': 3993999872,
 'totalDebt': 6022000128,
 'totalRevenue': 6486000128,
 'totalCashPerShare': 0.475,
 'financialCurrency': 'BRL',
 'revenuePerShare': 0.771,
 'quickRatio': 1.756,
 'recommendationMean': None,
 'exchange': 'SAO',
 'shortName': 'ITAUSA      PN      N1',
 'longName': 'Itaúsa - Investimentos Itaú SA',
 'exchangeTimezoneName': 'America/Sao_Paulo',
 'exchangeTimezoneShortName': 'BRT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-10800000',
 'quoteType': 'EQUITY',
 'symbol': 'ITSA4.SA',
 'messageBoardId': 'finmb_875352',
 'market': 'br_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 15.417,
 'beta3Year': None,
 'enterpriseToEbitda': 69.153,
 '52WeekChange': 0.09737098,
 'morningStarRiskRating': None,
 'forwardEps': 1.34,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 5520979968,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 6.979,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1609372800,
 'heldPercentInstitutions': 0.24311,
 'netIncomeToCommon': 8250999808,
 'trailingEps': 0.981,
 'lastDividendValue': 0.02,
 'SandP52WeekChange': 0.35206044,
 'priceToBook': 1.58762,
 'heldPercentInsiders': 0.20538999,
 'nextFiscalYearEnd': 1672444800,
 'yield': None,
 'mostRecentQuarter': 1617148800,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 5192332489,
 'beta': 1.115813,
 'enterpriseValue': 99994886144,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1527811200,
 'lastSplitFactor': '11:10',
 'legalType': None,
 'lastDividendDate': 1622505600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 1.181,
 'priceToSalesTrailing12Months': 14.530226,
 'dateShortInterest': None,
 'pegRatio': None,
 'ytdReturn': None,
 'forwardPE': 8.268657,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': 8410809856,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 11.27,
 'regularMarketOpen': 11.28,
 'twoHundredDayAverage': 10.8275,
 'trailingAnnualDividendYield': 0.019254657,
 'payoutRatio': 0.24159999,
 'volume24Hr': None,
 'regularMarketDayHigh': 11.31,
 'navPrice': None,
 'averageDailyVolume10Day': 28436287,
 'regularMarketPreviousClose': 11.27,
 'fiftyDayAverage': 11.483889,
 'trailingAnnualDividendRate': 0.217,
 'open': 11.28,
 'toCurrency': None,
 'averageVolume10days': 28436287,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.08,
 'exDividendDate': 1630454400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 11.07,
 'currency': 'BRL',
 'trailingPE': 11.294598,
 'regularMarketVolume': 16802000,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 94243045376,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 31499377,
 'dayLow': 11.07,
 'ask': 11.09,
 'askSize': 0,
 'volume': 16802000,
 'fiftyTwoWeekHigh': 12.35,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 4.46,
 'fiftyTwoWeekLow': 8.76,
 'bid': 11.08,
 'tradeable': False,
 'dividendYield': 0.0070999996,
 'bidSize': 0,
 'dayHigh': 11.31,
 'regularMarketPrice': 11.08,
 'logo_url': 'https://logo.clearbit.com/itausa.com.br'}

In [11]:
yf.Ticker("ATSA11.SA").history(start = "2021-07-12", end = "2021-07-13", interval = '1d', auto_adjust = False)

- ATSA11.SA: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [18]:
b3.Extract_Data("ATSA11.SA", start = "2021-07-12", end = "2021-07-13", interval = '1m').reset_index()['close'].unique().tolist()

[106.98999786376953, 107.0]

In [89]:
Ticker("BDLL4.SA").history(start = "2021-07-12", end = "2021-07-14", interval = '1m').reset_index()['date'].min()

Timestamp('2021-07-13 11:48:00')

In [16]:
b3.Extract_Data("JRDM11.SA", start = "2021-07-12", end = "2021-07-14", interval = '1m').reset_index()['date'].min()

Timestamp('2021-07-12 10:18:00')

In [101]:
b3.Extract_Data("JRDM11.SA", start = "2021-07-12", end = "2021-07-14", interval = '1d')

{'JRDM11.SA': {'meta': {'currency': 'BRL',
   'symbol': 'JRDM11.SA',
   'exchangeName': 'SAO',
   'instrumentType': 'EQUITY',
   'firstTradeDate': 1407330000,
   'regularMarketTime': 1626293100,
   'gmtoffset': -10800,
   'timezone': 'BRT',
   'exchangeTimezoneName': 'America/Sao_Paulo',
   'regularMarketPrice': 64.25,
   'chartPreviousClose': 64.0,
   'priceHint': 2,
   'currentTradingPeriod': {'pre': {'timezone': 'BRT',
     'start': 1626266700,
     'end': 1626267600,
     'gmtoffset': -10800},
    'regular': {'timezone': 'BRT',
     'start': 1626267600,
     'end': 1626292800,
     'gmtoffset': -10800},
    'post': {'timezone': 'BRT',
     'start': 1626292800,
     'end': 1626296400,
     'gmtoffset': -10800}},
   'dataGranularity': '1d',
   'range': '',
   'validRanges': ['1d',
    '5d',
    '1mo',
    '3mo',
    '6mo',
    '1y',
    '2y',
    '5y',
    '10y',
    'ytd',
    'max']},
  'indicators': {'quote': [{}], 'adjclose': [{}]}}}

In [2]:
# escolher a ação desejada
acao = 'ITUB3.SA'
 
# importar dados para o DataFrame
df = web.DataReader(acao, data_source='yahoo', start='01-01-2000')
 
# ver as 5 primeiras entradas
df.head()

                High       Low      Open     Close   Volume  Adj Close
Date
2000-01-03  2.318106  2.318106  2.318106  2.318106  65225.0   1.356192
2000-01-04  2.301548  2.235316  2.301548  2.235316  25365.0   1.307758
2000-01-05  2.235316  2.218758  2.235316  2.218758  15702.0   1.298070
2000-01-06  2.169085  2.152527  2.152527  2.152527  85759.0   1.259322
2000-01-07  2.334664  2.318106  2.334664  2.318106  31404.0   1.356192

In [2]:
import b3

In [3]:
api = b3.B3()

In [23]:
a = api.Extract_Data('MMXM3.SA', "2021-06-20", "2021-06-25", '1m')
a

{'MMXM3.SA': {'meta': {'currency': 'BRL',
   'symbol': 'MMXM3.SA',
   'exchangeName': 'SAO',
   'instrumentType': 'EQUITY',
   'firstTradeDate': 1145019600,
   'regularMarketTime': 1621455191,
   'gmtoffset': -10800,
   'timezone': 'BRT',
   'exchangeTimezoneName': 'America/Sao_Paulo',
   'regularMarketPrice': 14.0,
   'chartPreviousClose': 14.0,
   'previousClose': 14.0,
   'scale': 3,
   'priceHint': 2,
   'currentTradingPeriod': {'pre': {'timezone': 'BRT',
     'start': 1624625100,
     'end': 1624626000,
     'gmtoffset': -10800},
    'regular': {'timezone': 'BRT',
     'start': 1624626000,
     'end': 1624651200,
     'gmtoffset': -10800},
    'post': {'timezone': 'BRT',
     'start': 1624651200,
     'end': 1624654800,
     'gmtoffset': -10800}},
   'dataGranularity': '1m',
   'range': '',
   'validRanges': ['1d',
    '5d',
    '1mo',
    '3mo',
    '6mo',
    '1y',
    '2y',
    '5y',
    '10y',
    'ytd',
    'max']},
  'indicators': {'quote': [{}]}}}

In [20]:
import json
json.dumps(a)

'{"PETR4.SA": "1m data not available for startTime=1621479600 and endTime=1621911600. The requested range must be within the last 30 days."}'

In [11]:
df = api.Extract_History("^BVSP")

In [9]:
df = df.reset_index()

In [12]:
df

                           close           open      volume            low  \
symbol date
^BVSP  1993-04-27      24.500000      24.799999         0.0      24.500000
       1993-04-28      24.299999      24.500000         0.0      23.700001
       1993-04-29      23.700001      24.299999         0.0      23.700001
       1993-04-30      24.100000      23.700001         0.0      23.700001
       1993-05-03      24.100000      24.100000         0.0      23.799999
...                          ...            ...         ...            ...
       2021-02-22  112668.000000  118388.000000  21768700.0  111650.000000
       2021-02-23  115227.000000  112676.000000  15174900.0  112667.000000
       2021-02-24  115668.000000  115229.000000  11399300.0  114668.000000
       2021-02-25  112256.000000  115668.000000  12466500.0  111764.000000
       2021-02-26  110035.000000  112260.000000  14618500.0  109827.000000

                            high       adjclose
symbol date
^BVSP  1993-04-27      25.400000      24.500000
       1993-04-28      24.600000      24.299999
       1993-04-29      24.799999      23.700001
       1993-04-30      24.200001      24.100000
       1993-05-03      24.400000      24.100000
...                          ...            ...
       2021-02-22  118388.000000  112668.000000
       2021-02-23  115380.000000  115227.000000
       2021-02-24  116208.000000  115668.000000
       2021-02-25  116506.000000  112256.000000
       2021-02-26  113466.000000  110035.000000

[6883 rows x 6 columns]

In [14]:
import pandas as pd
df['date'] = pd.to_datetime(df['date'])

In [1]:
from yahooquery import Ticker
import pandas as pd

In [3]:
itau = Ticker("ITSA4.SA")

In [7]:
itau.quotes

{'ITSA4.SA': {'language': 'en-US',
  'region': 'US',
  'quoteType': 'EQUITY',
  'quoteSourceName': 'Delayed Quote',
  'triggerable': False,
  'currency': 'BRL',
  'regularMarketChange': 0.7400007,
  'regularMarketChangePercent': 7.56647,
  'regularMarketTime': 1614114502,
  'regularMarketPrice': 10.52,
  'regularMarketDayHigh': 0.0,
  'regularMarketDayRange': '0.0 - 0.0',
  'regularMarketDayLow': 0.0,
  'regularMarketVolume': 0,
  'regularMarketPreviousClose': 9.78,
  'bid': 10.52,
  'ask': 10.45,
  'bidSize': 0,
  'askSize': 0,
  'fullExchangeName': 'Sao Paolo',
  'financialCurrency': 'BRL',
  'regularMarketOpen': 0.0,
  'averageDailyVolume3Month': 25691780,
  'averageDailyVolume10Day': 28910983,
  'fiftyTwoWeekLowChange': 10.52,
  'fiftyTwoWeekRange': '0.0 - 12.81',
  'fiftyTwoWeekHighChange': -2.29,
  'fiftyTwoWeekHighChangePercent': -0.17876658,
  'fiftyTwoWeekLow': 0.0,
  'fiftyTwoWeekHigh': 12.81,
  'earningsTimestamp': 1614072600,
  'earningsTimestampStart': 1614072600,
  'earningsTimestampEnd': 1614072600,
  'trailingAnnualDividendRate': 0.549,
  'trailingPE': 12.923833,
  'trailingAnnualDividendYield': 0.056134973,
  'epsTrailingTwelveMonths': 0.814,
  'epsForward': 1.34,
  'tradeable': False,
  'firstTradeDateMilliseconds': 946900800000,
  'priceHint': 2,
  'marketState': 'PREPRE',
  'sharesOutstanding': 5520979968,
  'bookValue': 6.479,
  'fiftyDayAverage': 11.044723,
  'fiftyDayAverageChange': -0.5247221,
  'fiftyDayAverageChangePercent': -0.047508854,
  'twoHundredDayAverage': 10.328723,
  'twoHundredDayAverageChange': 0.1912775,
  'twoHundredDayAverageChangePercent': 0.018518988,
  'marketCap': 92740435968,
  'forwardPE': 7.8507466,
  'priceToBook': 1.6237074,
  'sourceInterval': 15,
  'exchangeDataDelayedBy': 0,
  'exchange': 'SAO',
  'shortName': 'ITAUSA      PN      N1',
  'longName': 'Itaúsa - Investimentos Itaú SA',
  'messageBoardId': 'finmb_875352',
  'exchangeTimezoneName': 'America/Sao_Paulo',
  'exchangeTimezoneShortName': 'BRT',
  'gmtOffSetMilliseconds': -10800000,
  'market': 'br_market',
  'esgPopulated': False}}

In [13]:
itau.history(period = "1d", interval ="1h").reset_index()

,symbol,date,close,high,low,volume,open
0,ITUB3.SA,2021-02-19 10:00:00,25.139999,25.260000,25.110001,24200,25.160000
1,ITUB3.SA,2021-02-19 11:00:00,25.160000,25.340000,25.100000,29100,25.129999
2,ITUB3.SA,2021-02-19 12:00:00,25.280001,25.360001,25.160000,41800,25.160000
3,ITUB3.SA,2021-02-19 13:00:00,25.250000,25.330000,25.230000,16900,25.270000
4,ITUB3.SA,2021-02-19 14:00:00,24.980000,25.260000,24.930000,77600,25.250000
5,ITUB3.SA,2021-02-19 15:00:00,25.020000,25.030001,24.840000,63700,24.969999

In [41]:
itau.technical_insights

{'ITUB3.SA': {'symbol': 'ITUB3.SA',
  'sigDevs': [{'headline': "Brazil's Itau Unibanco CEO Maluhy says bank unlikely to close branches this year",
    'date': '2021-02-02'}]}}

In [71]:
fii = Ticker("HGLG11.SA")

In [76]:
aa = fii.summary_detail

In [82]:
df = pd.DataFrame([aa["HGLG11.SA"]])
df['Ticker'] = ["HGLG11.SA"] * len(df)

In [83]:
df

,maxAge,priceHint,previousClose,open,dayLow,dayHigh,regularMarketPreviousClose,regularMarketOpen,regularMarketDayLow,regularMarketDayHigh,...,priceToSalesTrailing12Months,fiftyDayAverage,twoHundredDayAverage,currency,fromCurrency,toCurrency,lastMarket,algorithm,tradeable,Ticker
0,1,2,178.3,178.3,178.0,178.8,178.3,178.3,178.0,178.8,...,15.234007,179.96584,174.3225,BRL,None,None,None,None,False,HGLG11.SA

In [14]:
from datetime import datetime

In [30]:
datetime.strptime("202005", "%Y%m")

datetime.datetime(2020, 5, 1, 0, 0)

In [25]:
datetime.now().strftime("%Y%W")

'202107'

In [31]:
a = [1, 2 ,3]

In [2]:
a = [-1, -2, 3, 4 0, 1, -4, 10]

SyntaxError: invalid syntax (<ipython-input-2-13e5a4df945d>, line 1)

In [3]:
norm(a)

NameError: name 'norm' is not defined

In [1]:
from yahooquery import Ticker

In [2]:
a = Ticker("WEGE3.SA")

In [1]:
import yfinance as yf

msft = yf.Ticker("WEGE3.SA")

# get stock info
msft.info

{'zip': '89256-900',
 'sector': 'Industrials',
 'fullTimeEmployees': 33342,
 'longBusinessSummary': 'WEG S.A. engages in the production and trade of capital goods in Brazil and internationally. The company offers electric motors, generators, and transformers; gear units and geared motors; hydraulic and steam turbines; frequency converters; motor starters and maneuver devices; control and protection of electric circuits and industrial automation; power sockets and switches; and electric traction solutions for heavy vehicles, utility vehicles and locomotives, and urban and sea transportation. It also provides solutions for the generation of renewable and distributed energy through hydro, thermal biomass, wind, and solar energy power plants; no-breaks and alternators for groups of generators; conventional and movable electric substations; industrial electro electronic equipment systems; industrial paint and varnish; and paints for automotive repainting. WEG S.A. was founded in 1961 and is headquartered in Jaragua do Sul, Brazil.',
 'city': 'JaraguÃ¡ do Sul',
 'phone': '55 47 3276 4000',
 'state': 'SC',
 'country': 'Brazil',
 'companyOfficers': [],
 'website': 'http://www.weg.net/institutional/BR/en/',
 'maxAge': 1,
 'address1': 'Avenida Prefeito Waldemar Grubba, 3300',
 'industry': 'Specialty Industrial Machinery',
 'previousClose': 33.5425,
 'regularMarketOpen': 33.56,
 'twoHundredDayAverage': 37.633488,
 'trailingAnnualDividendYield': 0.008914065,
 'payoutRatio': 0.21280001,
 'volume24Hr': None,
 'regularMarketDayHigh': 34.14,
 'navPrice': None,
 'averageDailyVolume10Day': 7492766,
 'totalAssets': None,
 'regularMarketPreviousClose': 33.5425,
 'fiftyDayAverage': 33.462856,
 'trailingAnnualDividendRate': 0.299,
 'open': 33.56,
 'toCurrency': None,
 'averageVolume10days': 7492766,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.08,
 'exDividendDate': 1624838400,
 'beta': 0.989337,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 32.85,
 'priceHint': 2,
 'currency': 'BRL',
 'trailingPE': 53.03937,
 'regularMarketVolume': 2038800,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 141741277184,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 9184082,
 'priceToSalesTrailing12Months': 7.526619,
 'dayLow': 32.85,
 'ask': 33.68,
 'ytdReturn': None,
 'askSize': 0,
 'volume': 2038800,
 'fiftyTwoWeekHigh': 46.93,
 'forwardPE': 45.51351,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.18,
 'fiftyTwoWeekLow': 24.605,
 'bid': 33.66,
 'tradeable': False,
 'dividendYield': 0.0023999999,
 'bidSize': 0,
 'dayHigh': 34.14,
 'exchange': 'SAO',
 'shortName': 'WEG         ON      NM',
 'longName': 'WEG S.A.',
 'exchangeTimezoneName': 'America/Sao_Paulo',
 'exchangeTimezoneShortName': 'BRT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-10800000',
 'quoteType': 'EQUITY',
 'symbol': 'WEGE3.SA',
 'messageBoardId': 'finmb_879809',
 'market': 'br_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.406,
 'beta3Year': None,
 'profitMargins': 0.14152001,
 'enterpriseToEbitda': 39.463,
 '52WeekChange': 0.34054482,
 'morningStarRiskRating': None,
 'forwardEps': 0.74,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 4195930112,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 2.854,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1609372800,
 'heldPercentInstitutions': 0.10069,
 'netIncomeToCommon': 2665107968,
 'trailingEps': 0.635,
 'lastDividendValue': 0.016912,
 'SandP52WeekChange': 0.4020188,
 'priceToBook': 11.800981,
 'heldPercentInsiders': 0.64816004,
 'nextFiscalYearEnd': 1672444800,
 'mostRecentQuarter': 1617148800,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 1487709096,
 'enterpriseValue': 139478695936,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1619568000,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1616976000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.737,
 'dateShortInterest': None,
 'pegRatio': None,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 33.68,
 'logo_url': 'https://logo.clearbit.com/weg.net'}

In [3]:
yf.Ticker("ENEV3.SA").actions

            Dividends  Stock Splits
Date
2009-04-29   1.646989          0.00
2009-07-20   0.000000         20.00
2012-08-16   0.000000          3.00
2016-05-12   0.000000          0.01
2021-03-12   0.000000          4.00