In [1]:
import pandas as pd 
from pandas_datareader import data as web

In [2]:
# escolher a ação desejada
acao = 'ITUB3.SA'
 
# importar dados para o DataFrame
df = web.DataReader(acao, data_source='yahoo', start='01-01-2000')
 
# ver as 5 primeiras entradas
df.head()

                High       Low      Open     Close   Volume  Adj Close
Date
2000-01-03  2.318106  2.318106  2.318106  2.318106  65225.0   1.356192
2000-01-04  2.301548  2.235316  2.301548  2.235316  25365.0   1.307758
2000-01-05  2.235316  2.218758  2.235316  2.218758  15702.0   1.298070
2000-01-06  2.169085  2.152527  2.152527  2.152527  85759.0   1.259322
2000-01-07  2.334664  2.318106  2.334664  2.318106  31404.0   1.356192

In [35]:
import b3

In [36]:
api = b3.B3()

In [3]:
df = api.Extract_History("HGLG11.SA")

In [13]:
df = df.reset_index()

In [14]:
import pandas as pd
df['date'] = pd.to_datetime(df['date'])

In [1]:
from yahooquery import Ticker
import pandas as pd

In [3]:
itau = Ticker("ITSA4.SA")

In [7]:
itau.quotes

{'ITSA4.SA': {'language': 'en-US',
  'region': 'US',
  'quoteType': 'EQUITY',
  'quoteSourceName': 'Delayed Quote',
  'triggerable': False,
  'currency': 'BRL',
  'regularMarketChange': 0.7400007,
  'regularMarketChangePercent': 7.56647,
  'regularMarketTime': 1614114502,
  'regularMarketPrice': 10.52,
  'regularMarketDayHigh': 0.0,
  'regularMarketDayRange': '0.0 - 0.0',
  'regularMarketDayLow': 0.0,
  'regularMarketVolume': 0,
  'regularMarketPreviousClose': 9.78,
  'bid': 10.52,
  'ask': 10.45,
  'bidSize': 0,
  'askSize': 0,
  'fullExchangeName': 'Sao Paolo',
  'financialCurrency': 'BRL',
  'regularMarketOpen': 0.0,
  'averageDailyVolume3Month': 25691780,
  'averageDailyVolume10Day': 28910983,
  'fiftyTwoWeekLowChange': 10.52,
  'fiftyTwoWeekRange': '0.0 - 12.81',
  'fiftyTwoWeekHighChange': -2.29,
  'fiftyTwoWeekHighChangePercent': -0.17876658,
  'fiftyTwoWeekLow': 0.0,
  'fiftyTwoWeekHigh': 12.81,
  'earningsTimestamp': 1614072600,
  'earningsTimestampStart': 1614072600,
  'earningsTimestampEnd': 1614072600,
  'trailingAnnualDividendRate': 0.549,
  'trailingPE': 12.923833,
  'trailingAnnualDividendYield': 0.056134973,
  'epsTrailingTwelveMonths': 0.814,
  'epsForward': 1.34,
  'tradeable': False,
  'firstTradeDateMilliseconds': 946900800000,
  'priceHint': 2,
  'marketState': 'PREPRE',
  'sharesOutstanding': 5520979968,
  'bookValue': 6.479,
  'fiftyDayAverage': 11.044723,
  'fiftyDayAverageChange': -0.5247221,
  'fiftyDayAverageChangePercent': -0.047508854,
  'twoHundredDayAverage': 10.328723,
  'twoHundredDayAverageChange': 0.1912775,
  'twoHundredDayAverageChangePercent': 0.018518988,
  'marketCap': 92740435968,
  'forwardPE': 7.8507466,
  'priceToBook': 1.6237074,
  'sourceInterval': 15,
  'exchangeDataDelayedBy': 0,
  'exchange': 'SAO',
  'shortName': 'ITAUSA      PN      N1',
  'longName': 'Itaúsa - Investimentos Itaú SA',
  'messageBoardId': 'finmb_875352',
  'exchangeTimezoneName': 'America/Sao_Paulo',
  'exchangeTimezoneShortName': 'BRT',
  'gmtOffSetMilliseconds': -10800000,
  'market': 'br_market',
  'esgPopulated': False}}

In [13]:
itau.history(period = "1d", interval ="1h").reset_index()

,symbol,date,close,high,low,volume,open
0,ITUB3.SA,2021-02-19 10:00:00,25.139999,25.260000,25.110001,24200,25.160000
1,ITUB3.SA,2021-02-19 11:00:00,25.160000,25.340000,25.100000,29100,25.129999
2,ITUB3.SA,2021-02-19 12:00:00,25.280001,25.360001,25.160000,41800,25.160000
3,ITUB3.SA,2021-02-19 13:00:00,25.250000,25.330000,25.230000,16900,25.270000
4,ITUB3.SA,2021-02-19 14:00:00,24.980000,25.260000,24.930000,77600,25.250000
5,ITUB3.SA,2021-02-19 15:00:00,25.020000,25.030001,24.840000,63700,24.969999

In [41]:
itau.technical_insights

{'ITUB3.SA': {'symbol': 'ITUB3.SA',
  'sigDevs': [{'headline': "Brazil's Itau Unibanco CEO Maluhy says bank unlikely to close branches this year",
    'date': '2021-02-02'}]}}

In [71]:
fii = Ticker("HGLG11.SA")

In [76]:
aa = fii.summary_detail

In [82]:
df = pd.DataFrame([aa["HGLG11.SA"]])
df['Ticker'] = ["HGLG11.SA"] * len(df)

In [83]:
df

,maxAge,priceHint,previousClose,open,dayLow,dayHigh,regularMarketPreviousClose,regularMarketOpen,regularMarketDayLow,regularMarketDayHigh,...,priceToSalesTrailing12Months,fiftyDayAverage,twoHundredDayAverage,currency,fromCurrency,toCurrency,lastMarket,algorithm,tradeable,Ticker
0,1,2,178.3,178.3,178.0,178.8,178.3,178.3,178.0,178.8,...,15.234007,179.96584,174.3225,BRL,None,None,None,None,False,HGLG11.SA

In [14]:
from datetime import datetime

In [30]:
datetime.strptime("202005", "%Y%m")

datetime.datetime(2020, 5, 1, 0, 0)

In [25]:
datetime.now().strftime("%Y%W")

'202107'

In [31]:
a = [1, 2 ,3]

In [40]:
api.Extract_Data("BTC-USD", start = "2021-01-23", end = "2021-02-23", interval = "1d")

                          volume         close          high           low  \
symbol  date
BTC-USD 2021-01-23   48354737975  32067.642578  33360.976562  31493.160156
        2021-01-24   48643830599  32289.378906  32944.007812  31106.685547
        2021-01-25   59897054838  32366.392578  34802.742188  32087.787109
        2021-01-26   60255421470  32569.849609  32794.550781  31030.265625
        2021-01-27   62576762015  30432.546875  32564.029297  29367.138672
        2021-01-28   78948162368  31649.605469  31891.300781  30023.207031
        2021-01-29  117894572511  34316.386719  38406.261719  32064.814453
        2021-01-30   65141828798  34269.523438  34834.707031  32940.187500
        2021-01-31   52754542671  33114.359375  34288.332031  32270.175781
        2021-02-01   61400400660  33537.175781  34638.214844  32384.228516
        2021-02-02   63088585433  35510.289062  35896.882812  33489.218750
        2021-02-03   61166818159  37472.089844  37480.187500  35443.984375
        2021-02-04   68838074392  36926.066406  38592.175781  36317.500000
        2021-02-05   58598066402  38144.308594  38225.906250  36658.761719
        2021-02-06   71326033653  39266.011719  40846.546875  38138.386719
        2021-02-07   65500641143  38903.441406  39621.835938  37446.152344
        2021-02-08  101467222687  46196.464844  46203.929688  38076.324219
        2021-02-09   91809846886  46481.105469  48003.722656  45166.960938
        2021-02-10   87301089896  44918.183594  47145.566406  43881.152344
        2021-02-11   81388911810  47909.332031  48463.468750  44187.761719
        2021-02-12   76555041196  47504.851562  48745.734375  46424.976562
        2021-02-13   70250456155  47105.515625  48047.746094  46392.281250
        2021-02-14   71248675228  48717.289062  49487.640625  47114.507812
        2021-02-15   77069903166  47945.058594  48875.570312  46347.476562
        2021-02-16   77049582886  49199.871094  50341.101562  47201.304688
        2021-02-17   80820545404  52149.007812  52533.914062  49072.378906
        2021-02-18   52054723579  51679.796875  52474.105469  51015.765625
        2021-02-19   63495496918  55888.132812  56113.652344  50937.277344
        2021-02-20   68145460026  56099.519531  57505.226562  54626.558594
        2021-02-21   61896908800  57168.714844  57681.593750  55721.371094

                            open      adjclose
symbol  date
BTC-USD 2021-01-23  32985.757812  32067.642578
        2021-01-24  32064.376953  32289.378906
        2021-01-25  32285.798828  32366.392578
        2021-01-26  32358.613281  32569.849609
        2021-01-27  32564.029297  30432.546875
        2021-01-28  30441.041016  31649.605469
        2021-01-29  34318.671875  34316.386719
        2021-01-30  34295.933594  34269.523438
        2021-01-31  34270.878906  33114.359375
        2021-02-01  33114.578125  33537.175781
        2021-02-02  33533.199219  35510.289062
        2021-02-03  35510.820312  37472.089844
        2021-02-04  37475.105469  36926.066406
        2021-02-05  36931.546875  38144.308594
        2021-02-06  38138.386719  39266.011719
        2021-02-07  39250.191406  38903.441406
        2021-02-08  38886.828125  46196.464844
        2021-02-09  46184.992188  46481.105469
        2021-02-10  46469.761719  44918.183594
        2021-02-11  44898.710938  47909.332031
        2021-02-12  47877.035156  47504.851562
        2021-02-13  47491.203125  47105.515625
        2021-02-14  47114.507812  48717.289062
        2021-02-15  48696.535156  47945.058594
        2021-02-16  47944.457031  49199.871094
        2021-02-17  49207.277344  52149.007812
        2021-02-18  52140.972656  51679.796875
        2021-02-19  51675.980469  55888.132812
        2021-02-20  55887.335938  56099.519531
        2021-02-21  57305.164062  57168.714844