In [1]:
import pandas as pd 
from pandas_datareader import data as web

In [2]:
# escolher a ação desejada
acao = 'ITUB3.SA'
 
# importar dados para o DataFrame
df = web.DataReader(acao, data_source='yahoo', start='01-01-2000')
 
# ver as 5 primeiras entradas
df.head()

                High       Low      Open     Close   Volume  Adj Close
Date
2000-01-03  2.318106  2.318106  2.318106  2.318106  65225.0   1.356192
2000-01-04  2.301548  2.235316  2.301548  2.235316  25365.0   1.307758
2000-01-05  2.235316  2.218758  2.235316  2.218758  15702.0   1.298070
2000-01-06  2.169085  2.152527  2.152527  2.152527  85759.0   1.259322
2000-01-07  2.334664  2.318106  2.334664  2.318106  31404.0   1.356192

In [1]:
import b3

In [2]:
api = b3.B3()

In [3]:
df = api.Extract_History("HGLG11.SA")

In [13]:
df = df.reset_index()

In [14]:
import pandas as pd
df['date'] = pd.to_datetime(df['date'])

In [1]:
from yahooquery import Ticker
import pandas as pd

In [4]:
itau = Ticker("ITUB3.SA")

In [13]:
itau.history(period = "1d", interval ="1h").reset_index()

,symbol,date,close,high,low,volume,open
0,ITUB3.SA,2021-02-19 10:00:00,25.139999,25.260000,25.110001,24200,25.160000
1,ITUB3.SA,2021-02-19 11:00:00,25.160000,25.340000,25.100000,29100,25.129999
2,ITUB3.SA,2021-02-19 12:00:00,25.280001,25.360001,25.160000,41800,25.160000
3,ITUB3.SA,2021-02-19 13:00:00,25.250000,25.330000,25.230000,16900,25.270000
4,ITUB3.SA,2021-02-19 14:00:00,24.980000,25.260000,24.930000,77600,25.250000
5,ITUB3.SA,2021-02-19 15:00:00,25.020000,25.030001,24.840000,63700,24.969999

In [41]:
itau.technical_insights

{'ITUB3.SA': {'symbol': 'ITUB3.SA',
  'sigDevs': [{'headline': "Brazil's Itau Unibanco CEO Maluhy says bank unlikely to close branches this year",
    'date': '2021-02-02'}]}}

In [71]:
fii = Ticker("HGLG11.SA")

In [76]:
aa = fii.summary_detail

In [82]:
df = pd.DataFrame([aa["HGLG11.SA"]])
df['Ticker'] = ["HGLG11.SA"] * len(df)

In [83]:
df

,maxAge,priceHint,previousClose,open,dayLow,dayHigh,regularMarketPreviousClose,regularMarketOpen,regularMarketDayLow,regularMarketDayHigh,...,priceToSalesTrailing12Months,fiftyDayAverage,twoHundredDayAverage,currency,fromCurrency,toCurrency,lastMarket,algorithm,tradeable,Ticker
0,1,2,178.3,178.3,178.0,178.8,178.3,178.3,178.0,178.8,...,15.234007,179.96584,174.3225,BRL,None,None,None,None,False,HGLG11.SA

In [14]:
from datetime import datetime

In [30]:
datetime.strptime("202005", "%Y%m")

datetime.datetime(2020, 5, 1, 0, 0)

In [25]:
datetime.now().strftime("%Y%W")

'202107'

In [28]:
datetime.strptime("202107" + "-1", "%Y%W-%w")

datetime.datetime(2021, 2, 15, 0, 0)