In [1]:
import pandas as pd 
from pandas_datareader import data as web

In [2]:
# escolher a ação desejada
acao = 'ITUB3.SA'
 
# importar dados para o DataFrame
df = web.DataReader(acao, data_source='yahoo', start='01-01-2000')
 
# ver as 5 primeiras entradas
df.head()

                High       Low      Open     Close   Volume  Adj Close
Date
2000-01-03  2.318106  2.318106  2.318106  2.318106  65225.0   1.356192
2000-01-04  2.301548  2.235316  2.301548  2.235316  25365.0   1.307758
2000-01-05  2.235316  2.218758  2.235316  2.218758  15702.0   1.298070
2000-01-06  2.169085  2.152527  2.152527  2.152527  85759.0   1.259322
2000-01-07  2.334664  2.318106  2.334664  2.318106  31404.0   1.356192

In [1]:
import b3

In [2]:
api = b3.B3()

In [4]:
df = api.Extract_History("BTC-USD")