In [1]:
import pandas as pd 
from pandas_datareader import data as web

In [2]:
# escolher a ação desejada
acao = 'ITUB3.SA'
 
# importar dados para o DataFrame
df = web.DataReader(acao, data_source='yahoo', start='01-01-2000')
 
# ver as 5 primeiras entradas
df.head()

                High       Low      Open     Close   Volume  Adj Close
Date
2000-01-03  2.318106  2.318106  2.318106  2.318106  65225.0   1.356192
2000-01-04  2.301548  2.235316  2.301548  2.235316  25365.0   1.307758
2000-01-05  2.235316  2.218758  2.235316  2.218758  15702.0   1.298070
2000-01-06  2.169085  2.152527  2.152527  2.152527  85759.0   1.259322
2000-01-07  2.334664  2.318106  2.334664  2.318106  31404.0   1.356192

In [35]:
import b3

In [36]:
api = b3.B3()

In [3]:
df = api.Extract_History("HGLG11.SA")

In [13]:
df = df.reset_index()

In [14]:
import pandas as pd
df['date'] = pd.to_datetime(df['date'])

In [1]:
from yahooquery import Ticker
import pandas as pd

In [3]:
itau = Ticker("ITSA4.SA")

In [7]:
itau.quotes

{'ITSA4.SA': {'language': 'en-US',
  'region': 'US',
  'quoteType': 'EQUITY',
  'quoteSourceName': 'Delayed Quote',
  'triggerable': False,
  'currency': 'BRL',
  'regularMarketChange': 0.7400007,
  'regularMarketChangePercent': 7.56647,
  'regularMarketTime': 1614114502,
  'regularMarketPrice': 10.52,
  'regularMarketDayHigh': 0.0,
  'regularMarketDayRange': '0.0 - 0.0',
  'regularMarketDayLow': 0.0,
  'regularMarketVolume': 0,
  'regularMarketPreviousClose': 9.78,
  'bid': 10.52,
  'ask': 10.45,
  'bidSize': 0,
  'askSize': 0,
  'fullExchangeName': 'Sao Paolo',
  'financialCurrency': 'BRL',
  'regularMarketOpen': 0.0,
  'averageDailyVolume3Month': 25691780,
  'averageDailyVolume10Day': 28910983,
  'fiftyTwoWeekLowChange': 10.52,
  'fiftyTwoWeekRange': '0.0 - 12.81',
  'fiftyTwoWeekHighChange': -2.29,
  'fiftyTwoWeekHighChangePercent': -0.17876658,
  'fiftyTwoWeekLow': 0.0,
  'fiftyTwoWeekHigh': 12.81,
  'earningsTimestamp': 1614072600,
  'earningsTimestampStart': 1614072600,
  'earningsTimestampEnd': 1614072600,
  'trailingAnnualDividendRate': 0.549,
  'trailingPE': 12.923833,
  'trailingAnnualDividendYield': 0.056134973,
  'epsTrailingTwelveMonths': 0.814,
  'epsForward': 1.34,
  'tradeable': False,
  'firstTradeDateMilliseconds': 946900800000,
  'priceHint': 2,
  'marketState': 'PREPRE',
  'sharesOutstanding': 5520979968,
  'bookValue': 6.479,
  'fiftyDayAverage': 11.044723,
  'fiftyDayAverageChange': -0.5247221,
  'fiftyDayAverageChangePercent': -0.047508854,
  'twoHundredDayAverage': 10.328723,
  'twoHundredDayAverageChange': 0.1912775,
  'twoHundredDayAverageChangePercent': 0.018518988,
  'marketCap': 92740435968,
  'forwardPE': 7.8507466,
  'priceToBook': 1.6237074,
  'sourceInterval': 15,
  'exchangeDataDelayedBy': 0,
  'exchange': 'SAO',
  'shortName': 'ITAUSA      PN      N1',
  'longName': 'Itaúsa - Investimentos Itaú SA',
  'messageBoardId': 'finmb_875352',
  'exchangeTimezoneName': 'America/Sao_Paulo',
  'exchangeTimezoneShortName': 'BRT',
  'gmtOffSetMilliseconds': -10800000,
  'market': 'br_market',
  'esgPopulated': False}}

In [13]:
itau.history(period = "1d", interval ="1h").reset_index()

,symbol,date,close,high,low,volume,open
0,ITUB3.SA,2021-02-19 10:00:00,25.139999,25.260000,25.110001,24200,25.160000
1,ITUB3.SA,2021-02-19 11:00:00,25.160000,25.340000,25.100000,29100,25.129999
2,ITUB3.SA,2021-02-19 12:00:00,25.280001,25.360001,25.160000,41800,25.160000
3,ITUB3.SA,2021-02-19 13:00:00,25.250000,25.330000,25.230000,16900,25.270000
4,ITUB3.SA,2021-02-19 14:00:00,24.980000,25.260000,24.930000,77600,25.250000
5,ITUB3.SA,2021-02-19 15:00:00,25.020000,25.030001,24.840000,63700,24.969999

In [41]:
itau.technical_insights

{'ITUB3.SA': {'symbol': 'ITUB3.SA',
  'sigDevs': [{'headline': "Brazil's Itau Unibanco CEO Maluhy says bank unlikely to close branches this year",
    'date': '2021-02-02'}]}}

In [71]:
fii = Ticker("HGLG11.SA")

In [76]:
aa = fii.summary_detail

In [82]:
df = pd.DataFrame([aa["HGLG11.SA"]])
df['Ticker'] = ["HGLG11.SA"] * len(df)

In [83]:
df

,maxAge,priceHint,previousClose,open,dayLow,dayHigh,regularMarketPreviousClose,regularMarketOpen,regularMarketDayLow,regularMarketDayHigh,...,priceToSalesTrailing12Months,fiftyDayAverage,twoHundredDayAverage,currency,fromCurrency,toCurrency,lastMarket,algorithm,tradeable,Ticker
0,1,2,178.3,178.3,178.0,178.8,178.3,178.3,178.0,178.8,...,15.234007,179.96584,174.3225,BRL,None,None,None,None,False,HGLG11.SA

In [14]:
from datetime import datetime

In [30]:
datetime.strptime("202005", "%Y%m")

datetime.datetime(2020, 5, 1, 0, 0)

In [25]:
datetime.now().strftime("%Y%W")

'202107'

In [31]:
a = [1, 2 ,3]

In [2]:
a = [-1, -2, 3, 4 0, 1, -4, 10]

SyntaxError: invalid syntax (<ipython-input-2-13e5a4df945d>, line 1)

In [3]:
norm(a)

NameError: name 'norm' is not defined

In [ ]:
norm