In [1]:
import ipca

In [2]:
from datetime import datetime

In [3]:
start = datetime.strptime("2021-02-05", "%Y-%m-%d")

In [4]:
ipca.last_day_of_month(start)

datetime.datetime(2021, 2, 28, 0, 0)

In [5]:
a = ipca.get_sidra_ipca("2020-10-01", "2021-02-02")

In [6]:
a

                                KPI Value       Date
0            IPCA - Variação mensal  0.86 2020-10-01
1            IPCA - Variação mensal  0.89 2020-11-01
2            IPCA - Variação mensal  1.35 2020-12-01
3            IPCA - Variação mensal  0.25 2021-01-01
4  IPCA - Variação acumulada no ano  2.22 2020-10-01
5  IPCA - Variação acumulada no ano  3.13 2020-11-01
6  IPCA - Variação acumulada no ano  4.52 2020-12-01
7  IPCA - Variação acumulada no ano  0.25 2021-01-01

In [1]:
import bcb

In [3]:
bcb.get_data_bcb('ipca', "2020-01-01", '2021-01-01')

          data  valor
0   01/01/2020   0.21
1   01/02/2020   0.25
2   01/03/2020   0.07
3   01/04/2020  -0.31
4   01/05/2020  -0.38
5   01/06/2020   0.26
6   01/07/2020   0.36
7   01/08/2020   0.24
8   01/09/2020   0.64
9   01/10/2020   0.86
10  01/11/2020   0.89
11  01/12/2020   1.35
12  01/01/2021   0.25