In [1]:
import ipca

In [2]:
from datetime import datetime

In [3]:
start = datetime.strptime("2021-02-05", "%Y-%m-%d")

In [4]:
ipca.last_day_of_month(start)

datetime.datetime(2021, 2, 28, 0, 0)

In [5]:
a = ipca.get_sidra_ipca("2020-10-01", "2021-02-02")

In [6]:
a

                                KPI Value       Date
0            IPCA - Variação mensal  0.86 2020-10-01
1            IPCA - Variação mensal  0.89 2020-11-01
2            IPCA - Variação mensal  1.35 2020-12-01
3            IPCA - Variação mensal  0.25 2021-01-01
4  IPCA - Variação acumulada no ano  2.22 2020-10-01
5  IPCA - Variação acumulada no ano  3.13 2020-11-01
6  IPCA - Variação acumulada no ano  4.52 2020-12-01
7  IPCA - Variação acumulada no ano  0.25 2021-01-01

In [1]:
import bcb

In [3]:
bcb.get_data_bcb('ipca', "2020-01-01", '2021-01-01')

          data  valor
0   01/01/2020   0.21
1   01/02/2020   0.25
2   01/03/2020   0.07
3   01/04/2020  -0.31
4   01/05/2020  -0.38
5   01/06/2020   0.26
6   01/07/2020   0.36
7   01/08/2020   0.24
8   01/09/2020   0.64
9   01/10/2020   0.86
10  01/11/2020   0.89
11  01/12/2020   1.35
12  01/01/2021   0.25

In [1]:
import inquisitor
qb = inquisitor.Inquisitor()

# https://www.econdb.com/main-indicators?freq=Q&country=US&transform=2&dateStart=2019-03-31&dateEnd=2021-03-31&view=country-profile

In [2]:
qb.sources()

[{'source': 'Central Bank of Jordan', 'description': 'Central Bank of Jordan'},
 {'source': 'Banco de la República, Colombia',
  'description': 'Banco de la República, Colombia'},
 {'source': 'Ministry of Finance, Italy',
  'description': "Ministero dell'Economia e delle Finanze, Italy"},
 {'source': 'European Automobile Manufacturers',
  'description': "European Automobile Manufacturers' Association (ACEA)"},
 {'source': 'Narodowy Bank Polski', 'description': 'Narodowy Bank Polski'},
 {'source': 'Banco Central de Costa Rica',
  'description': 'Banco Central de Costa Rica'},
 {'source': 'Central Bank of Uruguay',
  'description': 'Central Bank of Uruguay'},
 {'source': 'Monetary Authority of Macao',
  'description': 'Monetary Authority of Macao'},
 {'source': 'Banque Centrale de Tunisie',
  'description': 'Banque Centrale de Tunisie'},
 {'source': 'National Statistics Institute of Bulgaria',
  'description': 'National Statistics Institute of Bulgaria'}]

In [4]:
qb.series(dataset='BCB_GGD')

,BCB_GGD.CB579.M.BR,BCB_GGD.CB57C.M.BR,BCB_GGD.CB57D.M.BR,BCB_GGD.CB581.M.BR,BCB_GGD.CB582.M.BR,BCB_GGD.CB583.M.BR,BCB_GGD.CB584.M.BR
2006-12-01,1336645.0,1260147.0,76498.0,1192466.0,144179.0,1186058.0,150587.0
2007-01-01,1367452.0,1290908.0,76543.0,1224854.0,142598.0,1218446.0,149006.0
2007-02-01,1399084.0,1323407.0,75677.0,1258478.0,140605.0,1250571.0,148512.0
2007-03-01,1423274.0,1350166.0,73108.0,1289423.0,133850.0,1280767.0,142507.0
2007-04-01,1438855.0,1367797.0,71058.0,1308077.0,130778.0,1299419.0,139436.0
...,...,...,...,...,...,...,...
2020-05-01,5929085.0,5507796.0,421289.0,5544444.0,384641.0,5198413.0,730672.0
2020-06-01,6153524.0,5729308.0,424215.0,5747261.0,406263.0,5391224.0,762299.0
2020-07-01,6210042.0,5796766.0,413275.0,5822643.0,387399.0,5471076.0,738965.0
2020-08-01,6389754.0,5962426.0,427328.0,5982637.0,407117.0,5613484.0,776270.0
2020-09-01,6533712.0,6097193.0,436519.0,6114619.0,419093.0,5731701.0,802011.0