In [17]:
import pandas as pd

In [2]:
import fundos

In [3]:
df = fundos.get_info_cadastral()

In [5]:
df.head()

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,00.017.024/0001-53,2021-02-01,1093459.20,27.504503,1091740.78,0.0,0.0,1
1,00.017.024/0001-53,2021-02-02,1093541.56,27.504054,1091722.98,0.0,0.0,1
2,00.017.024/0001-53,2021-02-03,1093599.37,27.503804,1091713.02,0.0,0.0,1
3,00.017.024/0001-53,2021-02-04,1093652.55,27.502934,1091678.50,0.0,0.0,1
4,00.017.024/0001-53,2021-02-05,1093433.76,27.501947,1091639.34,0.0,0.0,1

In [26]:
pd.read_csv("fiis.csv", sep = ";", header = None).head()

,0,1,2,3,4
0,AF INVEST CRI FDO. INV. IMOB – RECEBÍVEIS IMOB.,FII AFHI CRI,NaN,AFHI,NaN
1,AF INVEST FDO INV. IMOB. - RECEBÍVEIS IMOB.,FII AFINVCR,NaN,AFCR,NaN
2,ALIANZA FOF FUNDO DE INVESTIMENTO IMOBILIÁRIO,FII ALIANZFF,NaN,AFOF,NaN
3,ALIANZA TRUST RENDA IMOBILIARIA FDO INV IMOB,FII ALIANZA,NaN,ALZR,NaN
4,AQ3 RENDA FDO INV IMOB - FII,FII AQUIL RD,MB,ARFI,NaN

In [27]:
pd.read_csv("etfs.csv", sep = ";", header = None).head()

,0,1,2,3,4
0,BB ETF IBOVESPA FUNDO DE ÍNDICE,BB ETF IBOV,NaN,BBOV,NaN
1,BB ETF S&P DIVIDENDOS BRASIL FUNDO DE ÍNDICE,BB ETF SP DV,NaN,BBSD,NaN
2,BTG PACTUAL ESG FUNDO DE ÍNDICE S&P/B3 BRAZIL ES,ETF ESG BTG,NaN,ESGB,NaN
3,CAIXA ETF IBOVESPA FUNDO DE INDICE,CAIXAETFXBOV,NaN,XBOV,NaN
4,ETF BRADESCO IBOVESPA FDO DE INDICE,ETF BRA IBOV,NaN,BOVB,NaN

In [31]:
pd.read_csv("bdrs.csv", sep = ",", encoding = "ISO-8859-1")

,EMPRESA,CODIGO,SETOR,PAIS DE ORIGEM
0,3M,MMMC34,Ind£stria diversificada,EUA
1,AB INBEV,ABUD34,Bebidas,Blgica
2,ABB LTD,A1BB34,Industrial,Switzerland
3,ABBOTT,ABTT34,Farmacuticos,EUA
4,ABBVIE,ABBV34,Medicamentos e Outros Produtos,EUA
...,...,...,...,...
668,ORACLE,ORCL34,Software aplicativo,EUA
669,RAYTHEON TECH,RYTT34,Industrial,EUA
670,SCHLUMBERGER,SLBG34,Equipamentos e Servios de Combust¡vel,EUA
671,TIFFANY,TIFF34,Joalheria,EUA
672,US BANCORPÿ,USBC34,Institui?o Financeira,EUA

In [32]:
df = pd.read_csv("fiis.csv", sep = ";", header = None)

In [35]:
(df[3] + "11").ravel()

array(['AFHI11', 'AFCR11', 'AFOF11', 'ALZR11', 'ARFI11', 'AQLL11',
       'AIEC11', 'BCRI11', 'BNFS11', 'BBFI11', 'BBFO11', 'BBPO11',
       'BBIM11', 'BBRC11', 'RDPD11', 'RNDP11', 'BLCP11', 'BLMC11',
       'BLMG11', 'BLMO11', 'BLMR11', 'BCIA11', 'BREV11', 'BZLI11',
       'CARE11', 'BRCO11', 'BICE11', 'BRIM11', 'BRIP11', 'BTLG11',
       'BTWR11', 'BTSG11', 'CRFF11', 'CXRI11', 'CPFF11', 'CPTS11',
       'CBOP11', 'CFHI11', 'CJCT11', 'HGFF11', 'HGLG11', 'HGPO11',
       'HGRE11', 'HGCR11', 'HGRU11', 'DLMT11', 'DEVA11', 'DAMT11',
       'DOVL11', 'EGYR11', 'ERCR11', 'ERPA11', 'KEVE11', 'KINP11',
       'FLCR11', 'VRTA11', 'BMII11', 'BTCR11', 'MTRS11', 'ANCR11',
       'FAED11', 'BMLC11', 'BPRP11', 'BRCR11', 'FEXC11', 'BCFF11',
       'FCFL11', 'CNES11', 'CEOC11', 'THRA11', 'FAMB11', 'EDGA11',
       'ELDO11', 'FLRP11', 'HCRI11', 'NSLU11', 'HTMX11', 'MAXR11',
       'NCHB11', 'NVHO11', 'PQDP11', 'PATB11', 'RBRM11', 'RBRR11',
       'RECR11', 'RECT11', 'JRDM11', 'SHDP11', 'SAIC11', 'TBOF11',
       'ALMI11', 'TRNT11', 'VLOL11', 'OUFF11', 'WTSP11', 'RECH11',
       'VVPR11', 'LVBI11', 'BARI11', 'BRHT11', 'BPFF11', 'BVAR11',
       'BPML11', 'CXCE11', 'CXTL11', 'CTXT11', 'CJFI11', 'FLMA11',
       'EDFO11', 'EURO11', 'GESE11', 'ABCP11', 'GTWR11', 'HBTT11',
       'HUSC11', 'FIIB11', 'FINF11', 'FMOF11', 'MBRF11', 'MGFF11',
       'MVFI11', 'NPAR11', 'OULG11', 'PABY11', 'FPNG11', 'ESTQ11',
       'VPSI11', 'FPAB11', 'RBRY11', 'RBRP11', 'RCRB11', 'RBED11',
       'RBVA11', 'RNGO11', 'SFND11', 'FISC11', 'SCPF11', 'SDIL11',
       'SHPH11', 'TGAR11', 'ONEF11', 'TORM11', 'TOUR11', 'VERE11',
       'FVPQ11', 'FIVN11', 'VTLT11', 'VSEC11', 'VSHO11', 'IBFF11',
       'PLCR11', 'VTPL11', 'RELG11', 'CVBI11', 'MCCI11', 'FGPM11',
       'ATWN11', 'ARRI11', 'BTAL11', 'CXCO11', 'HOSI11', 'MGHT11',
       'RECX11', 'PVBI11', 'MGCR11', 'RFOF11', 'TCIN11', 'VTPA11',
       'VTXI11', 'HBRH11', 'IRDM11', 'SPVJ11', 'KFOF11', 'OURE11',
       'FATN11', 'BRLA11', 'HBCR11', 'MINT11', 'RZTR11', 'GCFF11',
       'GCRI11', 'GSFI11', 'FIGS11', 'GGRC11', 'GRLV11', 'RCFA11',
       'GALG11', 'HABT11', 'ATCR11', 'HCTR11', 'HCST11', 'HAAA11',
       'ATSA11', 'HGBS11', 'HLOG11', 'HRDF11', 'HREC11', 'HPDP11',
       'HMOC11', 'HFOF11', 'HGIC11', 'HSAF11', 'HSLG11', 'HSML11',
       'HSRE11', 'HUSI11', 'IFID11', 'IFIE11', 'BICR11', 'JBFO11',
       'JFLL11', 'RBBV11', 'JPPA11', 'JPPC11', 'JSRE11', 'JTPR11',
       'KISU11', 'KNHY11', 'KNRE11', 'KNIP11', 'KNRI11', 'KNCR11',
       'KNSC11', 'LATR11', 'LASC11', 'LOFT11', 'LFTT11', 'LGCP11',
       'LUGG11', 'DMAC11', 'MALL11', 'MADS11', 'MCFF11', 'MXRF11',
       'MFII11', 'MFAI11', 'MORE11', 'PRTS11', 'SHOP11', 'DRIT11',
       'MTOF11', 'MOFF11', 'NEWL11', 'NEWU11', 'NVIF11', 'FTCE11',
       'OUJP11', 'ORPD11', 'PNDL11', 'PNPR11', 'VTVI11', 'PQAG11',
       'PATC11', 'PATL11', 'PRSN11', 'PLOG11', 'PLRI11', 'PORD11',
       'PRSV11', 'PBLV11', 'QAGR11', 'QAMI11', 'QIFF11', 'RSPD11',
       'RBDS11', 'RBIR11', 'RBGS11', 'RBLG11', 'RBCO11', 'RRCI11',
       'FIIP11', 'RBRD11', 'RBRU11', 'RCRI11', 'RBTS11', 'RBRF11',
       'RCFF11', 'RBRL11', 'RMAI11', 'RBIV11', 'RBHY11', 'RBVO11',
       'RBFF11', 'RBRS11', 'RZAK11', 'ARCT11', 'SADI11', 'SARE11',
       'FISD11', 'SEQR11', 'WPLZ11', 'SJAU11', 'REIT11', 'SOLR11',
       'SPTW11', 'SPAF11', 'STRX11', 'TELD11', 'TEPP11', 'TSER11',
       'TORD11', 'TSNC11', 'TCPF11', 'XTED11', 'TRXF11', 'TRXB11',
       'URPR11', 'VGIP11', 'VGHF11', 'VGIR11', 'EVBI11', 'RVBI11',
       'VCJR11', 'VLJS11', 'SALI11', 'VSLH11', 'VIDS11', 'VIFI11',
       'VILG11', 'VINO11', 'VISC11', 'VOTS11', 'VXXV11', 'XPCM11',
       'XPCI11', 'XPHT11', 'XPIN11', 'XPLG11', 'XPML11', 'XPPR11',
       'XPSF11', 'YUFI11', 'ZIFI11'], dtype=object)