In [1]:
import pandas as pd

In [2]:
import fundos

In [3]:
df = fundos.get_info_cadastral()

In [5]:
df.head()

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,00.017.024/0001-53,2021-02-01,1093459.20,27.504503,1091740.78,0.0,0.0,1
1,00.017.024/0001-53,2021-02-02,1093541.56,27.504054,1091722.98,0.0,0.0,1
2,00.017.024/0001-53,2021-02-03,1093599.37,27.503804,1091713.02,0.0,0.0,1
3,00.017.024/0001-53,2021-02-04,1093652.55,27.502934,1091678.50,0.0,0.0,1
4,00.017.024/0001-53,2021-02-05,1093433.76,27.501947,1091639.34,0.0,0.0,1