In [1]:
import fundamentus

In [3]:
result = fundamentus.get_data()

In [11]:
import pandas as pd

In [16]:
df = pd.DataFrame.from_dict(result, orient = 'index')

In [17]:
df.head()

,Cotacao,P/L,P/VP,PSR,DY,P/Ativo,P/Cap.Giro,P/EBIT,P/ACL,EV/EBIT,EV/EBITDA,Mrg.Ebit,Mrg.Liq.,Liq.Corr.,ROIC,ROE,Liq.2meses,Pat.Liq,Div.Brut/Pat.,Cresc.5anos
CTSA3,2.39,-16625.30,0.93,0.591,0.0127,0.418,13.34,10.68,-4.31,19.51,19.50,0.0553,-0.00,1.07,0.0441,-0.0001,23067.10,285461000.00,0.83,0.0642
CTSA4,1.91,-13286.30,0.74,0.472,0.0175,0.334,10.66,8.53,-3.45,17.37,17.36,0.0553,-0.00,1.07,0.0441,-0.0001,27846.30,285461000.00,0.83,0.0642
OMGE3,43.36,-3821.30,2.28,8.171,0.00,0.959,5.02,26.49,-2.84,35.42,20.17,0.3084,0.0045,5.14,0.0457,-0.0006,36874600.00,3722190000.00,1.24,0.5899
LINX3,38.55,-1533.33,4.34,8.444,0.0029,2.708,10.63,52.88,33.27,51.12,24.31,0.1597,-0.0055,2.26,0.0725,-0.0028,43717900.00,1684040000.00,0.31,0.1583
DASA3,168.00,-423.63,20.73,13.722,0.0017,6.506,62.84,2878.11,-17.24,3000.38,123.05,0.0048,-0.032,1.50,0.0027,-0.0489,416460.00,3896020000.00,1.22,0.1775