In [7]:
import fundamentus
import pandas as pd
from pathlib import Path

In [9]:
result = fundamentus.get_data()

In [1]:
import advfn

In [2]:
advfn.get_all_data("ITUB3", get_all = False)

Could not load data from ITUB3, year 2021, quarter 2
Could not load data from ITUB3, year 2021, quarter 3

,Data,Quantidade de Ações ON,Quantidade de Ações PN,Última Cotação ON,Última Cotação PN,Valor de Mercado,Receita Líquida,PSR,Resultado Bruto,EBIT,...,Ativo Não Circulante,Ativo Circulante Líquido,P/ACL,FCO,FCI,FCF,FCT,FCL,FCI/LL,Ticker
0,2021-03-31,3305527,3230563,25.11,27.97,173360637,6000,61.96,-840000,5038000,...,196593000,18220000,9.51,4804000,1947000,-7243000,-492000,2857000,0.1046,ITUB3

In [2]:
result = advfn.get_fundamentos("ITUB3", year = 2020)
result

       Data                Mercado                                           \
ITUB3       Quantidade de Ações ON Quantidade de Ações PN Última Cotação ON
0      2020                3305527                3230563             27.93

                                              Resultados         \
ITUB3 Última Cotação PN Valor de Mercado Receita Líquida    PSR
0                 31.63        194506084         4102000  47.42

                                    ... Liquidez e Solvência  \
ITUB3 Resultado Bruto Margem Bruta  ... Ativo Não Circulante
0              677000        0.165  ...            189594000

                                     Fluxo de Caixa                     \
ITUB3 Ativo Circulante Líquido P/ACL            FCO      FCI       FCF
0                     20805000  9.35       12987000 -2345000 -14605000

                         Investimentos Ticker
ITUB3      FCT       FCL        FCI/LL
0     -3963000  10642000        0.1237  ITUB3

[1 rows x 43 columns]

In [10]:
df = pd.DataFrame.from_dict(result, orient = 'index')

In [25]:
tickers.rename(columns = {"Papel":"Ticker"}, inplace = True)

In [19]:
tickers = fundamentus.get_tickers()

In [30]:
df2.columns = df2.columns.get_level_values(1)

In [49]:
df2

ITSA4,Data,Aplicações Financeiras,Dinheiro em Caixa,Disponibilidades,DY,Dividendos e JCP,Payout,DB/PL,DL/EBITDA,Dívida Bruta,...,Margem EBIT,Margem EBITDA,P/EBIT,P/EBITDA,P/L,PSR,Receita Líquida,Resultado Bruto,ANO,Ticker
0,2008,778000,NaN,778000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5736.08,NaN,5664.82,NaN,NaN,NaN,2008,ITSA4
1,2009,845000,136000.0,981000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12827.75,NaN,12545.43,NaN,NaN,NaN,2009,ITSA4
2,2010,518000,NaN,518000,NaN,1.667000e+09,0.3774,0.04,NaN,1064000.0,...,NaN,NaN,12.36,NaN,12.32,NaN,NaN,NaN,2010,ITSA4
3,2011,329000,NaN,329000,NaN,1.103000e+09,0.2280,0.03,0.09,751000.0,...,NaN,NaN,10.42,10.42,10.35,NaN,NaN,NaN,2011,ITSA4
4,2012,429000,NaN,429000,NaN,1.499000e+09,0.3302,0.02,0.03,573000.0,...,NaN,NaN,12.32,12.32,12.32,NaN,NaN,NaN,2012,ITSA4
5,2013,86000,340000.0,426000,NaN,1.734000e+09,0.3043,NaN,-0.08,NaN,...,NaN,NaN,10.21,10.20,9.95,NaN,NaN,NaN,2013,ITSA4
6,2014,290000,643000.0,933000,NaN,2.452000e+09,0.3099,NaN,-0.12,NaN,...,NaN,NaN,7.34,7.33,7.34,NaN,NaN,NaN,2014,ITSA4
7,2015,282000,802000.0,1084000,-3.5802,2.814000e+09,0.3173,0.04,0.07,1709000.0,...,NaN,NaN,5.31,5.30,5.29,-59.66,-786000.0,-786000.0,2015,ITSA4
8,2016,310000,666000.0,976000,-1.7025,3.187000e+09,0.3881,0.04,0.09,1709000.0,...,NaN,NaN,7.58,7.58,7.33,-32.15,-1872000.0,-1872000.0,2016,ITSA4
9,2017,1439000,71000.0,1510000,2.2058,6.602000e+09,0.8107,0.03,0.02,1709000.0,...,2.6879,2.6889,9.95,9.94,9.83,26.73,2993000.0,2993000.0,2017,ITSA4
10,2018,1030000,936000.0,1966000,NaN,NaN,NaN,0.02,-0.08,1208000.0,...,3.2332,3.2342,10.86,10.86,11.14,35.12,2993000.0,2993000.0,2018,ITSA4
11,2019,1213000,1091000.0,2304000,NaN,NaN,NaN,0.02,NaN,1206000.0,...,3.5129,NaN,11.26,NaN,11.48,39.56,2993000.0,2993000.0,2019,ITSA4
12,2020,1214000,971000.0,2185000,NaN,NaN,NaN,0.02,NaN,1210000.0,...,2.3849,NaN,12.83,NaN,13.38,30.59,2993000.0,2993000.0,2020,ITSA4

In [35]:
df2['Ticker'].str[:4]

0    ITSA
0    ITSA
0    ITSA
0    ITSA
0    ITSA
0    ITSA
0    ITSA
0    ITSA
0    ITSA
0    ITSA
0    ITSA
0    ITSA
0    ITSA
Name: Ticker, dtype: object

In [ ]:
teste.lstrip()

In [20]:
import requests 
import pandas as pd
import random
import string
import re
import urllib.request
import urllib.parse
import http.cookiejar

In [18]:
def get_ticker_data(ticker):
    url = "http://www.fundamentus.com.br/detalhes.php?papel={}".format(ticker)

    headers = {
        'User-Agent': ''.join(
            random.choices(string.ascii_letters, k=10)
        )
    }
    html_src = requests.get(url, headers=headers).text
    return html_src

In [19]:
data = get_ticker_data("ITSA4")

In [30]:
data.split('<span class="txt">Data últ cot</span></td>\n<td class="data"><span class="txt">')[-1].split("</span>")[0]

'13/07/2021'

In [34]:
from datetime import datetime 

datetime.strptime('13/07/2021', "%d/%m/%Y")

datetime.datetime(2021, 7, 13, 0, 0)