In [7]:
import fundamentus

In [2]:
result = fundamentus.get_data()

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame.from_dict(result, orient = 'index')

In [5]:
df.head()

,Cotacao,P/L,P/VP,PSR,DY,P/Ativo,P/Cap.Giro,P/EBIT,P/ACL,EV/EBIT,EV/EBITDA,Mrg.Ebit,Mrg.Liq.,Liq.Corr.,ROIC,ROE,Liq.2meses,Pat.Liq,Div.Brut/Pat.,Cresc.5anos
CTSA3,2.39,-16625.30,0.93,0.591,0.0127,0.418,13.34,10.68,-4.31,19.51,19.50,0.0553,-0.00,1.07,0.0441,-0.0001,23067.10,285461000.00,0.83,0.0642
CTSA4,1.91,-13286.30,0.74,0.472,0.0175,0.334,10.66,8.53,-3.45,17.37,17.36,0.0553,-0.00,1.07,0.0441,-0.0001,27846.30,285461000.00,0.83,0.0642
OMGE3,43.36,-3821.30,2.28,8.171,0.00,0.959,5.02,26.49,-2.84,35.42,20.17,0.3084,0.0045,5.14,0.0457,-0.0006,36874600.00,3722190000.00,1.24,0.5899
LINX3,38.55,-1533.33,4.34,8.444,0.0029,2.708,10.63,52.88,33.27,51.12,24.31,0.1597,-0.0055,2.26,0.0725,-0.0028,43717900.00,1684040000.00,0.31,0.1583
DASA3,168.00,-423.63,20.73,13.722,0.0017,6.506,62.84,2878.11,-17.24,3000.38,123.05,0.0048,-0.032,1.50,0.0027,-0.0489,416460.00,3896020000.00,1.22,0.1775

In [9]:
import advfn

In [10]:
advfn.get_fundamentos("ITSA4")

                       Caixa                                    Dividendos  \
ITSA4 Aplicações Financeiras Dinheiro em Caixa Disponibilidades         DY
Data
2008                  778000               NaN           778000        NaN
2009                  845000          136000.0           981000        NaN
2010                  518000               NaN           518000        NaN
2011                  329000               NaN           329000        NaN
2012                  429000               NaN           429000        NaN
2013                   86000          340000.0           426000        NaN
2014                  290000          643000.0           933000        NaN
2015                  282000          802000.0          1084000    -3.5802
2016                  310000          666000.0           976000    -1.7025
2017                 1439000           71000.0          1510000     2.2058
2018                 1030000          936000.0          1966000        NaN
2019                 1213000         1091000.0          2304000        NaN
2020                 1214000          971000.0          2185000        NaN

                               Dívida                                        \
ITSA4 Dividendos e JCP  Payout  DB/PL DL/EBITDA Dívida Bruta Dívida Líquida
Data
2008               NaN     NaN    NaN       NaN          NaN        -778000
2009               NaN     NaN    NaN       NaN          NaN        -981000
2010      1.667000e+09  0.3774   0.04       NaN    1064000.0         546000
2011      1.103000e+09  0.2280   0.03      0.09     751000.0         422000
2012      1.499000e+09  0.3302   0.02      0.03     573000.0         144000
2013      1.734000e+09  0.3043    NaN     -0.08          NaN        -426000
2014      2.452000e+09  0.3099    NaN     -0.12          NaN        -933000
2015      2.814000e+09  0.3173   0.04      0.07    1709000.0         625000
2016      3.187000e+09  0.3881   0.04      0.09    1709000.0         733000
2017      6.602000e+09  0.8107   0.03      0.02    1709000.0         199000
2018               NaN     NaN   0.02     -0.08    1208000.0        -758000
2019               NaN     NaN   0.02       NaN    1206000.0       -1098000
2020               NaN     NaN   0.02       NaN    1210000.0        -975000

       ...    Resultados                                                   \
ITSA4  ... Lucro Líquido Margem Bruta Margem EBIT Margem EBITDA    P/EBIT
Data   ...
2008   ...       6885773          NaN         NaN           NaN   5736.08
2009   ...       4362000          NaN         NaN           NaN  12827.75
2010   ...       4417000          NaN         NaN           NaN     12.36
2011   ...       4837000          NaN         NaN           NaN     10.42
2012   ...       4539000          NaN         NaN           NaN     12.32
2013   ...       5698000          NaN         NaN           NaN     10.21
2014   ...       7911000          NaN         NaN           NaN      7.34
2015   ...       8868000          1.0         NaN           NaN      5.31
2016   ...       8211000          1.0         NaN           NaN      7.58
2017   ...       8144000          1.0      2.6879        2.6889      9.95
2018   ...       9436000          1.0      3.2332        3.2342     10.86
2019   ...      10312000          1.0      3.5129           NaN     11.26
2020   ...       6844000          1.0      2.3849           NaN     12.85


ITSA4 P/EBITDA       P/L    PSR Receita Líquida Resultado Bruto
Data
2008       NaN   5664.82    NaN             NaN             NaN
2009       NaN  12545.43    NaN             NaN             NaN
2010       NaN     12.32    NaN             NaN             NaN
2011     10.42     10.35    NaN             NaN             NaN
2012     12.32     12.32    NaN             NaN             NaN
2013     10.20      9.95    NaN             NaN             NaN
2014      7.33      7.34    NaN             NaN             NaN
2015      5.30      5.29 -59.66       -786000.0       -786000.0
2016      7.58      7.33 -32.15      -1872000.0      -1872000.0
2017      9.94      9.83  26.73       2993000.0       2993000.0
2018     10.86     11.14  35.12       2993000.0       2993000.0
2019       NaN     11.48  39.56       2993000.0       2993000.0
2020       NaN     13.41  30.65       2993000.0       2993000.0

[13 rows x 62 columns]